<h1>Comunicación entre componentes</h1>
<h2>Padre - Hijo</h2>
<app-padre-mensaje></app-padre-mensaje>
<hr>

<h1>Comunicación entre componentes</h1>
<h2>Hijo - Padre</h2>
<app-padre-evento></app-padre-evento>
<hr>

<h1>Ejercicios</h1>
<h2>Ejercicio 1: Pasar un mensaje de un componente padre a un componente hijo.</h2>
<app-ej1-padre></app-ej1-padre>
<hr>

<h2>Ejercicio 2</h2>
<app-ej2-cesta></app-ej2-cesta>
<hr>

<h2>Ejercicio 3</h2>
<app-ej3-padre></app-ej3-padre>
<hr>
<h2>Ejercicio 3</h2>
<app-ej4-padre></app-ej4-padre>
<hr>