<h2>Lista de productos</h2>
<p>Haz click al producto que quieres añadir</p>
<br>
<button type="button" (click)="enviarPadre('pan')">Pan</button><br>
<button type="button" (click)="enviarPadre('agua')">Agua</button><br>
<button type="button" (click)="enviarPadre('leche')">Leche</button><br>
<button type="button" (click)="enviarPadre('cafe')">Café</button><br>
<button type="button" (click)="enviarPadre('azucar')">Azúcar</button><br>
<button type="button" (click)="enviarPadre('huevos')">Huevos</button><br>